{% extends "base.html" %}
{% block title %}Changed{% endblock%}
{% block content %}
<body>
    <table id="tabella" class="display">
        <thead>
            <tr>
                <th> / </th>
                <th>Budget</th>
                <th>Delta1</th>
                <th>MixStandard</th>
                <th>Delta2</th>
                <th>MixEffettivo</th>
                <th>Delta3</th>
                <th>Consuntivo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RICAVI</td>
                <td>{{ risultati3 }}</td>
                <td>{{ Delta1 }}</td>
                <td>{{ risultati5 }}</td>
                <td>{{ Delta2 }}</td>
                <td>{{ risultati8 }}</td>
                <td>{{ Delta3 }}</td>
                <td>{{ risultati4 }}</td>
            </tr>
            <tr>
                <td>COSTI</td>
                <td>{{ risultati1 }}</td>
                <td>{{ Delta4 }}</td>
                <td>{{ risultati6 }}</td>
                <td>{{ Delta5 }}</td>
                <td>{{ risultati9 }}</td>
                <td>{{ Delta6 }}</td>
                <td>{{ risultati2 }}</td>
            </tr>
            <tr>
                <td>MOL</td>
                <td>{{ risultati11 }}</td>
                <td>{{ Delta7 }}</td>
                <td>{{ risultati7 }}</td>
                <td>{{ Delta8 }}</td>
                <td>{{ risultati10 }}</td>
                <td>{{ Delta9 }}</td>
                <td>{{ risultati12 }}</td>
            </tr>
            <tr>
                <td>QUANTITA'</td>
                <td>{{ risultati13 }}</td>
                <td>{{ Delta10 }}</td>
                <td>{{ risultati15 }}</td>
                <td>{{ Delta11 }}</td>
                <td>{{ risultati16 }}</td>
                <td>{{ Delta12 }}</td>
                <td>{{ risultati14 }}</td>
            </tr>
        </tbody>
    </table>
</body>
{% endblock %}

