
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#myTable').DataTable( {
          "scrollY": "200px",
          "paging": true,
          "pageLength": 10
        });
      });
    </script>
  </head>
  <body>
    <table id="myTable" class="display" style="width:20%;">
        <thead>
            <tr>
                <th>Area Produzione  </th>
                <th> Risorsa</th>
                <th> Costo a Budget</th>
                <th>Scostamento  </th>
                <th> Costo a Consuntivo</th>
            </tr>
        </thead>
        <tbody>
            {% for valore in rs2 %}
            <tr>
                <td>{{ valore[0] }}</td>
                <td>{{ valore[1] }}</td>
                <td>{{ valore[2] }}</td>
                <td>{{ valore[3] }}</td>
                <td>{{ valore[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>